/*================================================================================
	custom STYLESHEETS
	Version: 2.0
	Author: mk.sung
================================================================================
*/
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Regular.woff) format('woff'),
        url(../fonts/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Medium.woff) format('woff'),
        url(../fonts/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Bold.woff) format('woff'),
        url(../fonts/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
  font-family: "score-medium";
  src: local('score medium'),
  url(../fonts/SCDream_Medium.eot?#iefix) format('embedded-opentype'),
  url(../fonts/SCDream_Medium.woff2) format('woff2'),
  url(../fonts/SCDream_Medium.woff) format('woff'),
  url(../fonts/SCDream_Medium.ttf) format('truetype');
}

/* custom */
$gray-color: rgba(0, 0, 0, 0.2);
$gray-dark: rgba(0, 0, 0, 0.4);
$primary-color: #7367f0;
$secondary-color: #82868b;
$success-color: #28c76f;
$info-color: #00cfe8;
$warning-color: #ff9f43;
$warning-color2: #f06e17;
$danger-color: #ea5455;
$light-color: #f6f6f6;
$dark-color:rgba(0, 0, 0, 0.8);


img {max-width: 100%;}

.btn {
   &.status-verifi {
      background-color: $primary-color;
      color: #fff;
   }
   &.status-mismatch {
     background-color: $danger-color;
     color: #fff;
   }
   &.status-leaving {
      background-color: $warning-color;
      color: #000;
   }
   &.status-multi {
      background-color: $warning-color2;
      color: #fff;
   }
}

%mb0 {margin-bottom: 0 !important;}
%mt0 {margin-top: 0 !important;}
%mb1 {margin-bottom: .5rem;}
%mb2 {margin-bottom: 1rem;}
%mt1 {margin-top: .5rem;}
%mt2 {margin-top: 1rem;}
%mt05 {margin-top: .25rem;}
%box {border: 1px solid #e7e7e7;padding: .35rem 1rem;margin-bottom:.5rem;}

.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu {
   width:60px;
}
.vertical-layout.vertical-menu-modern.menu-collapsed .app-content, .vertical-layout.vertical-menu-modern.menu-collapsed .footer {
    margin-left: 60px;
}
.main-menu.menu-dark .navigation > li > a {
   margin:0;
}
.main-menu .navbar-header {
    padding: 0.35rem 1rem 0.3rem 1rem;
}
.vertical-layout.vertical-menu-modern.menu-collapsed .header-navbar.floating-nav {
    width: calc(100vw - (100vw - 100%) - 4.4rem - 54px);
}

.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navbar-header .ex-list-num,
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .ex-user-list .feather-more-horizontal,
.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .ex-user-list .feather-more-horizontal,
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .ex-user-list ul {
   display: none;
}
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .ex-user-list ul {
  display : block;
}
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .ex-list-num {
  display : inline;
}
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .ex-user-list .feather-more-horizontal {
   display : block;
   font-size : 1.285rem;
   width : 18px;
   height : 18px;
   margin-left: 1.5rem;
}

/* custom element */
  .card {
   .card-header {
      padding:0.75rem;
   }
   .card-footer {
       padding:0.75rem;
   }
   .card-body {
       padding:1rem;
  }
}



/* common */
[class*="-box"] {
    &.top {
      @extend %mb1;
    }
    &.bottom {
      @extend %mt1;
    }
    &.middle {
      @extend %mt1;
      @extend %mb1;
    }
    &.right {
      padding-left:0;
      text-align:right
    }
    &.center {
      padding-left:0;
      text-align:center
    }
    &.text-right {
      .form-control,
      .custom-select {text-align: right}
    }
    .text-right {
      .form-control,
      .custom-select {text-align: right}
    }
    &.text-left {
      .form-control,
      .custom-select {text-align: left}
    }
    .text-left {
      .form-control,
      .custom-select {text-align: left}
    }
    &.text-center {
      .form-control,
      .custom-select {text-align: center}
    }
    .text-center {
      .form-control,
      .custom-select {text-align: center}
    }
  }

/* 왼쪽메뉴 응시생목록 */
.ex-user-header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: inherit;
}
.ex-user-list {
   li {
      padding:1rem;
      .user-info {
         white-space: nowrap;
         
      }
      .email {
         white-space: nowrap;
      }
      .user-status {
         margin-top:0.5rem;
         white-space: nowrap;
      }
   }
}
/* monitoring box */
.monitor-wrap {
   .monitor-list {
      .monitor-box {
         width: 400px;
         border:1px solid $gray-color;
         .img-inner {
            .img-box {
               height:100%;
               border: 1px solid $primary-color;
            }
            .col-01 {
               flex: 0 0 58.33333%;
               max-width: 58.33333%;
               padding-right:0.5rem;
            .img-box {
                  overflow: hidden;
                  height: 228px;
            }
            }
            .col-02 {
                  flex: 0 0 41.66667%;
                  max-width: 41.66667%;
               .img-box {
                  overflow: hidden;
                  height: 114px;
            }
            .img-box:nth-child(2) {
               padding-top:0.5rem;
            }
            }
         }
      }
   }
   .recently-event-wrap {
      .recently-event {
         .card-header {
            background: rgb(77, 99, 130);
            color:#fff;
            font-weight: 500;
            padding:5px 10px;
         }
         .recently-event-box {
         height: 100%;
         padding:0;
         background: transparent;
            >.card-body {
               display: flex;
               flex-direction: column;
            }
         .recently-list-box {
               overflow-y: auto;
               position: relative;
               flex-grow: 1;
               margin:0.3rem;
         }
         .recently-list {
            position: absolute;
            top:0;
            width:100%;
            border-radius: .25rem;
            .list-group-item {
               border:1px solid rgba(0,0,0,0.2);
               background:#fff;
            }
            .list-group-item:first-child {
               border-top-left-radius: .25rem;
               border-top-right-radius: .25rem;
            }
            .list-group-item:last-child {
               border-bottom-left-radius: .25rem;
               border-bottom-right-radius: .25rem;
            }
         }
            .card-body {
               padding:0;
               .check-box {
                  margin:0.5rem 0.3rem 0.2rem;
                  padding:0.5rem 0.5rem 0;
                  background:rgba(256, 256, 256, 0.8);
               }
            }
            .status {
               padding:0;
               font-size: 0.75rem;
               vertical-align: middle;
               .col-auto {
                  width:74px;
               }
               .text-lv {
                  text-align: center;
                  -ms-flex: 0 0 auto;
                  flex: 0 0 auto;
                  width: auto;
                  max-width: 100%;
                  background:rgba(0,0,0,0.6);
                  border-radius: 30px;
                  min-width:26px;
                  padding:0 4px;
                  font-size:10px;
                  line-height: 14px;
                  height: 14px;
                  color:#fff;
               }
               .text-code {
                  color: #777;
                  text-align: right;
                  vertical-align: middle;
               }
               a {
                  color:#333;
                  padding:6px;
               }
               &.active {
                  color:#fff;
                  a {
                  color:#fff;
                  }
                  .text-code {
                     color:#fff;
                  }
                  &.status-danger {
                  background: $danger-color;
                  }

                  &.status-fail {
                  background: $primary-color-dark;
                  }

                  &.status-warning {
                  background: $warning-color;
                  }

                  &.status-warning2 {
                  background: $warning-color2;
                  }

                  &.status-danger2 {
                  background: $danger-color2;
                  }
                  &.status-end {
                  background: $dark-color2;
                  }
               }
            }
         }
      }
   }
   .btn-box {
      .btn-sm {
      padding:.35rem .4rem .3rem;
   }
   }
}

/* monitoring 상태이상 감지 팝업 */
.dtl-info {
  padding-left:0;
  li {
    list-style: none;
    position: relative;
    padding-left:10px;
    &::before {
      width:3px;
      height:3px;
      display: block;
      content: "";
      background-color: #555;
      position: absolute;
      top:8px;
      left:0;
    }
    &.text-danger {
      &::before {
        background-color: $danger-color;
      }
    }
  }
}
.history-list-wrap {
  height:539px;
  width:280px;
  overflow-y:auto;
  .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    border-color:#e8eff5;
    background-color: #e8eff5;
    color:#000;
   }
}

.exam-photo-compare {
   margin-top:.3rem !important;
   .col {
      background:#eee;
      position: relative;
      width: 63px;
      height: 63px;
      overflow: hidden;
      padding:0;
      border: 1px solid #ddd;
      .end {
      background: #555;
      border:1px solid #222;
      color: #ddd;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      text-align: center;
      padding-top:18px;
      font-weight: 700;
      line-height: 1.2;
      font-size: 0.75rem;
      }
      img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-height: 100%;
      max-width: none;
      transform: translate(-50%, -50%);
      }
      &:last-child {
      margin-left:4px;
      }
      &::before {
      font-family: 'Font Awesome 5 Free';
      content: "\f007";
      font-size: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ddd;
      }
   }
}