/*================================================================================
	custom STYLESHEETS
	Version: 2.0
	Author: mk.sung
================================================================================
*/
// Core variables and mixins
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Regular.woff) format('woff'),
        url(../fonts/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Medium.woff) format('woff'),
        url(../fonts/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Bold.woff) format('woff'),
        url(../fonts/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
  font-family: "score-medium";
  src: local('score medium'),
  url(../fonts/SCDream_Medium.eot?#iefix) format('embedded-opentype'),
  url(../fonts/SCDream_Medium.woff2) format('woff2'),
  url(../fonts/SCDream_Medium.woff) format('woff'),
  url(../fonts/SCDream_Medium.ttf) format('truetype');
}

/* custom */
$primary-color:#0d73ff !default;
$primary-color-dark: #2a346e !default;
$primary-color-light:rgba($primary-color, 0.12);
$success-color: #28c76f !default;
$info-color: #00cfe8 !default;
$secondary-color: #616161 !default;
$warning-color: #FFC107 !default; 
$danger-color: #ea5455;
$dark-color:rgba(0, 0, 0, 0.5);
$dark-color2:rgba(0, 0, 0, 0.8);

$bg-color: #212648;
$warning-color2: #FF9F43; 
$danger-color2: #ad3939;
$chat: $success-color;

$gray-color: rgba(116, 116, 116, 0.5);
$gray-dark: rgba(0, 0, 0, 0.2);
$light: rgba(256, 256, 256, 0.07);
$lighter: rgba(256, 256, 256, 0.2);
$lightest: rgba(256, 256, 256, 0.5);
$primary-light: rgba($primary-color, 0.1);

$verifi:$primary-color;
$fail:$danger-color;
$multi:$danger-color2;
$leaving:$warning-color;
$leaving2:$warning-color2;
$cmt_n:$success-color;
$login_n:$primary-color-dark;
.row {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
   padding-left:0.5rem;
   padding-right:0.5rem;
}
.no-gutters {
    margin-right: 0;
    margin-left:0;
}
img {max-width: 100%;}
.app-content content {overflow: hidden;}
.blur {opacity: .3;}
.btn {
   &:disabled {opacity: .3;}
}
.btn-sm {padding:0.3rem}
.guide-ing {
   display: block;
   color:$danger-color;
   padding-bottom:5px;
}
.status {
      font-weight: normal;
      font-size: 0.857rem;
      opacity: 0.3;
       border:1px solid $primary-color;
      color: #fff;
      background-color: $primary-color-dark;
   &.active {
      opacity: 1;
   }
   &.verifi {
      border:1px solid $primary-color;
      background-color: $primary-color
   }
   &.chat {
      border:1px solid $chat;
      color: $chat;
      opacity: 1;
      background-color:transparent
   }
   &.badge {
      border-radius: 0.1rem;
      padding:0.3rem;
   }
}

%mb0 {margin-bottom: 0 !important;}
%mt0 {margin-top: 0 !important;}
%mb1 {margin-bottom: .5rem;}
%mb2 {margin-bottom: 1rem;}
%mt1 {margin-top: .5rem;}
%mt2 {margin-top: 1rem;}
%mt05 {margin-top: .25rem;}
%box {border: 1px solid #e7e7e7;padding: .35rem 1rem;margin-bottom:.5rem;}

.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu {
   width:60px;
}
.vertical-layout.vertical-menu-modern.menu-collapsed .app-content, .vertical-layout.vertical-menu-modern.menu-collapsed .footer {
    margin-left: 60px;
}
.main-menu.menu-dark .navigation > li > a {
   margin:0;
}
.main-menu .navbar-header {
    padding: 0.35rem 1rem 0.3rem 1rem;
}
.vertical-layout.vertical-menu-modern.menu-collapsed .header-navbar.floating-nav {
    width: calc(100vw - (100vw - 100%) - 4.4rem - 54px);
}

.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navbar-header .entrant-list-num,
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .entrant-list .feather-more-horizontal,
.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .entrant-list .feather-more-horizontal,
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .entrant-list ul {
   display: none;
}
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .entrant-list ul {
  display : block;
}
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .entrant-list-num {
  display : inline;
}
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .entrant-list .feather-more-horizontal {
   display : block;
   font-size : 1.285rem;
   width : 18px;
   height : 18px;
   margin-left: 1.5rem;
}
.menu-expanded .monitor-wrap .monitor-details {
  width: calc(100vw - 360px - 260px);
}

html .navbar-floating.footer-static .app-content .content-area-wrapper, html .navbar-floating.footer-static .app-content .kanban-wrapper {
    height: calc( 100vh - calc( calc(2rem * 1) + 4.45rem + 3.35rem + 1.3rem + 106px ));
    height: calc( var(--vh, 1vh) * 100 - calc( calc(2rem * 1) + 4.45rem + 3.35rem + 1.3rem + 106px));
}
.ps--active-x>.ps__rail-x, .ps--active-y>.ps__rail-y {
   z-index: 9999;
}
.light-layout {
   body {
      background-color: #f2f2f2;
   }
   .content-area-wrapper {
      background-color:#fff;
   }
}
.dark-layout  {
   .monitor-details {
       background-color:#161D31;
   }
   .content-area-wrapper {
      background-color: $light;
   }
}

/* custom element */
  .card {
   .card-header {
      padding-top:0.75rem;
   }
   .card-footer {
       padding:0.75rem;
   }
   .card-body {
       padding:1rem;
  }
}



/* common */
[class*="-box"] {
    &.top {
      @extend %mb1;
    }
    &.bottom {
      @extend %mt1;
    }
    &.middle {
      @extend %mt1;
      @extend %mb1;
    }
    &.right {
      padding-left:0;
      text-align:right
    }
    &.center {
      padding-left:0;
      text-align:center
    }
    &.text-right {
      .form-control,
      .custom-select {text-align: right}
    }
    .text-right {
      .form-control,
      .custom-select {text-align: right}
    }
    &.text-left {
      .form-control,
      .custom-select {text-align: left}
    }
    .text-left {
      .form-control,
      .custom-select {text-align: left}
    }
    &.text-center {
      .form-control,
      .custom-select {text-align: center}
    }
    .text-center {
      .form-control,
      .custom-select {text-align: center}
    }
  }

/* 왼쪽메뉴 응시생목록 */
.entrant-header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: inherit;
}
.entrant-list {
   li {
      padding:1rem;
      .user-info {
         white-space: nowrap;
         .cnct {
            &.cnct-ing {
               background: rgba($success-color, 0.12) !important;
               color: $success-color !important;
            }
            &.cnct-end {
               background: rgba($danger-color, 0.12) !important;
               color: $danger-color !important;
            }
            &.cnct-submitted {
               background: rgba($dark-color2, 0.5) !important;
               color: rgb(184, 184, 184);
            }
            &.cnct-before {
               background: rgba($secondary-color, 0.12) !important;
               color: $success-color !important;
            }
         }
      }
      .email {
         white-space: nowrap;
      }
      .user-status {
         margin-top:0.5rem;
         white-space: nowrap;
         .user-check {
            background-color: $danger-color;
            color:#fff;
            
            &.active {background-color: $primary-color;}
         }
         .user-video {
            background-color: $danger-color;
            color:#fff;
            &.active {background-color: $primary-color;}
         }
      }
   }
}
/* monitoring box */
.monitor-wrap {
   height: 100%;
   margin:0;
   position: relative;
   .monitor-list {
      position: relative;
      padding: 1rem;
      float: left;
      height: 100%;
      width:100%;
      .monitor-box {
         width: 356px;
         border:1px solid $gray-color;
         margin-bottom: 0.75rem;
         .img-inner {
            .img-box {
               height:100%;
               border: 1px solid $primary-color;
            }
            .col-01 {
               flex: 0 0 58.33333%;
               max-width: 58.33333%;
               padding-right:0.5rem;
            .img-box {
                  overflow: hidden;
                  height: 160px;
               }
            }
            .col-02 {
                  flex: 0 0 41.66667%;
                  max-width: 41.66667%;
               .img-box {
                  overflow: hidden;
                  height: 80px;
            }
            .img-box:nth-child(2) {
               padding-top:0.5rem;
               }
            }
         }
         .card-header {
            padding:0.35rem 0.75rem;
            background-color: $light;
         }
         .card-body {
            padding:0.75rem;
            cursor: pointer;
         }
         h3 {font-size: 1rem;}
         .inner-info {
            padding:0 0.5rem 0.75rem;
            font-size: 0.8rem;
            p {
               margin:0;
               line-height: 1;
               &:nth-child(2) {
                  margin-top:0.3rem;
               }
            }
            .col-auto, .col {
               padding:0 0.5rem;
               align-self: center;
            }
            .sound-meter-box {
               border:1px solid $gray-dark;
               background-color: $light;
               border-radius: 1rem;
               padding:0.2rem 0.5rem;
               line-height: 0;
               canvas {
                  background-color: $gray-dark;
                  width:90px;
                  height:10px;
                  border-radius: 1rem;
                  vertical-align: middle;
               }
            }
         }
         &.active {
            border: 1px solid $primary-color;
            .card-header {
               background-color: $primary-color;
               color: #fff;
               .btn, h3 {color:#fff}
            }
         }
      }
   }

   .monitor-details {
      padding:1rem;
      position: absolute;
      display: block;
      z-index: 2;
      visibility: hidden;
      top: 0;
      width: calc(100vw - 420px);
      transform: translateX(100%);
      transition: all 0.25s ease, color 0s;
      height: 100%;
      display: flex;
      flex-direction: column;
      z-index: 999;
      &.show {
         visibility: visible;
         transition: all 0.25s ease, color 0s;
         transform: translateX(0%);
      }
      .monitor-detail-header {
         display : flex;
         flex-wrap : wrap;
         justify-content : space-between;
         align-items : center;
         box-shadow : 0 4px 6px rgba(34, 41, 47, 0.04);
         border-bottom : 1px solid $gray-color;
         position : relative;
         padding : 0.5rem 1rem;
         height : 5rem;
         background-color: $light;
      }
      .monitor-detail-body {
         flex-grow: 1;
         height: 100%;
         width: 100%;
         margin:0 auto;
         overflow: hidden;
      .content-left {
         height: 100%;
         float: left;
         max-width: calc(100% - 310px);
         display: flex;
         flex-direction: column;
         .monitor-box {
            width: 100%;
            max-width: 1000px;
            margin-bottom: 0.75rem;
            .img-inner {
               .img-box {
                  height:100%;
                  border: 1px solid $primary-color;
               }
               .col-01 {
                  flex: 0 0 58.33333%;
                  max-width: 58.33333%;
                  padding-right:0.5rem;
               .img-box {
                     overflow: hidden;
                     height: 460px;
                  }
               }
               .col-02 {
                     flex: 0 0 41.66667%;
                     max-width: 41.66667%;
                  .img-box {
                     overflow: hidden;
                     height: 230px;
               }
               .img-box:nth-child(2) {
                  padding-top:0.5rem;
                  }
               }
            }
            .card-header {
               padding:0.35rem 0.75rem;
               background-color: $light;
            }
            .card-body {
               padding:0.75rem;
            }
            h3 {font-size: 1rem;}
            .inner-info {
               padding:1rem 0;
               font-size: 1rem;
               p {
                  margin:0;
                  line-height: 1;
                  &:nth-child(2) {
                     margin-top:0.75rem;
                  }
               }
               .col-auto, .col {
                  padding:0 0.5rem;
                  align-self: center;
               }
               .sound-meter-box {
                  border:1px solid $gray-dark;
                  background-color: $light;
                  border-radius: 1rem;
                  padding:0.2rem 0.5rem;
                  line-height: 0;
                  canvas {
                     background-color: $gray-dark;
                     width:90px;
                     height:10px;
                     border-radius: 1rem;
                     vertical-align: middle;
                  }
               }
            }
            &.active {
               .card-header {
                  background-color: $primary-color;
                  color: #fff;
                  .btn, h3 {color:#fff}
               }
            }
         }
         .event-history-box {
            flex-grow: 1;
         }
      }
      .content-right {
         width: 300px !important;
         height: 100%;
         float: right;
      }
   }
   .go-back {cursor: pointer;}
}
   .recently-event-wrap {
      position: relative;
      height: 100%;
      max-width: 300px;
      flex: 0 0 300px;
       float: right;
       padding:1rem;
       background-color: rgba($primary-color, 0.12);
       .inner-tit {
          padding:0.5rem 0;
          font-weight: 700;
       }
      .recently-event-box {
         .check-box {
               padding:0.5rem 0.5rem 0;
               margin-bottom: 1rem;
               .card-body {
                  padding:0.5rem;
               }
            }
         }
      .recently-list-box {
         position: relative;
         height: 100%;
         border-radius: 0.5rem;
         .recently-list {
            width:100%;
         }

         .status {
            padding:0;
            font-size: 0.857rem;
            vertical-align: middle;
            .col-auto {
               width:74px;
            }
            a {
               color:#333;
               padding:6px;
               display: block;
               .text-lv {
                  text-align: center;
                  flex: 0 0 auto;
                  width: auto;
                  max-width: 100%;
                  background:rgba(0,0,0,0.6);
                  border-radius: 30px;
                  min-width:26px;
                  padding:0 4px;
                  font-size:10px;
                  line-height: 14px;
                  height: 14px;
                  color:#fff;
               }
               .text-code {
                  color: #777;
                  text-align: right;
                  vertical-align: middle;
               }
            }
            &.active {
               color:#fff;
               background: transparent;
               a {
                  color:#fff;
               }
               .text-code {
                  color:#fff;
               }
               &.status-multi {
                  a {
                     background-color: rgba($danger-color, 1);
                  }
               }

               &.status-fail {
                  a {
                     background-color: rgba($primary-color, 1);
                  }
               }

               &.status-leaving {
               a {
                  background-color: rgba($leaving, 1);
                  color:#111;
               }
            }

               &.status-leaving2 {
                  a {
                     background-color: rgba($leaving2, 1);
                     color:#111;
                  }
               }

               &.status-danger2 {
                  a {
                     background-color: rgba($danger-color2, 1);
                     .text-code, .col-auto {
                         color:#111;
                     }
                  }
               }
               &.status-end {
                  a {
                     background-color: rgba($dark-color2, 1);
                  }
               }
               &.status-autoOut {
                  a {
                     background-color: rgba($danger-color2, 1);
                  }
               }
               &.status-loginN {
                  a {
                     background-color: rgba($danger-color2, 1);
                  }
               }
            }
         }
      }


      .content-right {
         flex-grow: 1;
         height: 100%;
         position: relative;
         height:350px;
         width:100%;
         float: none;
         .user-chats-all {
         height: calc(100% - 65px - 65px);
         }
      }
   }
   .btn-box {
      .btn-sm {
      padding:.35rem .4rem .3rem;
      font-size: 0.75rem;
      font-weight: normal;
      border-radius: 2px;
      }
   }
}
/* monitoring 상태이상 감지 팝업 */
.dtl-info {
  padding-left:0;
  li {
    list-style: none;
    position: relative;
    padding-left:10px;
    &::before {
      width:3px;
      height:3px;
      display: block;
      content: "";
      background-color: #555;
      position: absolute;
      top:8px;
      left:0;
    }
    &.text-danger {
      &::before {
        background-color: $danger-color;
      }
    }
  }
}
.history-list-wrap {
  height:539px;
  width:300px;
  overflow-y:auto;
  .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    border-color:#e8eff5;
    background-color: #e8eff5;
    color:#000;
   }
}

.exam-photo-compare {
   margin-top:.3rem !important;
   .col {
         background:#eee;
         position: relative;
         width: 63px;
         height: 63px;
         overflow: hidden;
         padding:0;
         border: 1px solid #ddd;
      .end {
         background: #555;
         border:1px solid #222;
         color: #ddd;
         display: block;
         width: 100%;
         height: 100%;
         position: absolute;
         text-align: center;
         padding-top:18px;
         font-weight: 700;
         line-height: 1.2;
         font-size: 0.75rem;
      }
      img {
         position: absolute;
         top: 50%;
         left: 50%;
         max-height: 100%;
         max-width: none;
         transform: translate(-50%, -50%);
      }
      &:last-child {
         margin-left:4px;
      }
      &::before {
         font-family: 'Font Awesome 5 Free';
         content: "\f007";
         font-size: 2rem;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         color: #ddd;
      }
   }
}


/* modal */
.guide-entrant {
   .list-group {
      li {
         position: relative;
         padding-left:1.2rem;
      }
      li::before {
         content:'';
         display: inline-block;
         width:3px;
         height:3px;
         background-color: $primary-color;
         position: absolute;
         top:20px;
         left:0.5rem;
      }
   }
   .guide-imgbox {
      margin:1rem auto;
      width: 500px;
      .inner-img:last-child {
         height:150px;
         overflow: hidden;
         border-radius: 1rem;
      }
   }
}
.app-content.main {
   .content-body {
      max-width: 80%;
      margin: 0 auto;
   }
}